.intro {
  margin: 92px auto;
  max-width: 830px;
  max-height: 607px;
  width: 100%;
}

.intro__content {
  max-width: 830px;
}

.intro__title {
  font-family: "Inter black 900", Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.intro__quote {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.intro__author-quote {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.intro__description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    margin: 40px 20px;
    max-width: 760px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
  }

  .intro__quote {
    width: 720px;
  }

  .intro__author-quote {
    max-width: 800px;
  }

  .intro__description {
    max-width: 800px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    max-height: 100%;
    margin: 40px 20px;
    width: 288px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }

  .intro__quote {
    width: 100%;
  }

  .intro__author-quote {
    max-width: 320px;
  }

  .intro__description {
    max-width: 320px;
    font-size: 16px;
    line-height: 1.6;
  }
}
